<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Car List</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<table>
    <tr>
        <th>manufacture</th>
        <th> model</th>
        <th>price</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.manufacture}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.price}"></td>
    </tr>
</table>

</body>
</html>